@using BookeNeest.Domain.Constants;

@if (Request.IsAuthenticated && User.IsInRole(BookeNeestUserRoles.Admin))
{
    <li>@Html.ActionLink("Manage", "Index", new { area = "Admin", controller = "Manage" }, null)</li>
}   