@*@using NLog.Web.AspNetCore.LayoutRenderers*@

@{
    ViewBag.Title = "Home Page";
    
}

<h1>@ViewBag.Title (test)</h1>
<div class="jumbotron custom-book-pre">
    <h1>BookeNeest</h1>
    <nav>
        <ul dir="ltr">
            <li> <a href="/">Home</a> </li>
            <li> <a href="/Books/Recents">Recents</a> </li>
            <li> <a href="/Contacts">Contacts</a> </li>
            <li> <a href="/About">About</a> </li>
        </ul>
    </nav>
    <p><a href="Books/Recents" class="btn btn-primary btn-lg">Check our newest books</a></p>
</div>
