@using System.Text
@model BookeNeest.Web.Models.BookViewModel

@{
    ViewBag.Title = "Details";
}


@if (Model != null ) 
{
    <h2>
        <span class="custom-book-pre">Book details:</span>
    </h2>

        <div class="row panel panel-primary panel-body form-horizontal" style="background-color: aliceblue">
            @{
                StringBuilder authors = new StringBuilder();
                foreach (var author in Model.Authors)
                {
                    authors.Append(author.Name).Append(", ");
                }
                if (authors.Length > 2 && authors[authors.Length - 1] == ' ')
                {
                    authors.Remove(authors.Length - 2, 2).Append(".");
                }

                <div class="row">
                    <div class="custom-book-fld col-md-1">
                        Book ID:
                    </div> @Model.Id <br/>

                    <div class="custom-book-fld col-md-1">
                        Name:
                    </div> @Model.Name <br/>

                    <div class="custom-book-fld col-md-1">
                        Authors:
                    </div> @authors.ToString() <br/>
                </div>

            }
        </div>
    
}

else

{
    <h4>
        <span class="custom-book-head text-danger"> [Details] Such book doesn't exist.</span>
    </h4>
}