<p class="">
    <div class="panel-group">
        @{
            @Html.ActionLink("Manage Books", "Create", "Book",
                new {area = "Admin"},
                new {type = "button", @class = "panel panel-primary panel-body btn btn-default btn-group-justified" })

            @Html.ActionLink("Manage Authors", "Create", "Author",
                new {area = "Admin"},
                new {type = "button", @class = "panel panel-primary panel-body btn btn-default btn-group-justified" })

            @Html.ActionLink("Manage Users", "Index", "User",
                new {area = "Admin"},
                new {type = "button", @class = "panel panel-primary panel-body btn btn-default btn-group-justified" })
        }
    </div>
</p>