.custom-book {
    font-family: Georgia, serif, sans-serif;
    font-kerning: auto;
    text-rendering: geometricPrecision;
    text-shadow: black;

}

.custom-book-pre,
.custom-book-fld,
.custom-book-head {
    font-family: Georgia, serif, sans-serif;
    font-kerning: auto;
    text-rendering: geometricPrecision;
    text-shadow: black;
    font-weight: bold;
}